.container {
        line-height: 170%;
        font-size: 20px;
        margin-bottom: 3vh;
        color: white;
        margin-top: 3vh;
        text-align: left;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        text-align: left;
        margin: 15px;
}
.father {
        padding-bottom: 29vh;
        padding-top: 3vh;
        background-color: #000;
}
ul{
        list-style: none;
}
ion-icon{
        margin-right: 10px;
        color: #dd0;
}