* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    background-image: url("../../images/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

}

.father {
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    /* justify-content: end; */
}

.photo {
    /* z-index: -9; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
    background-image: url('../../images/sinfondolight.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: photo 1.2s cubic-bezier(.5, .6, .6, 1);
    animation-fill-mode: backwards;
    width: 700px;
}

@media screen and (max-width: 767px) {
    .photo {
        animation: photo .6s cubic-bezier(.5, .6, .6, 1);
    }
}

@keyframes photo {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width:480px) {
    .photo {
        left: -8%;
    }
}


.container {
    width: 100%;
    margin: auto;
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    transition: .5s;
}

.awhite {
    color: white;
    transition: all 0.8s;
    display: block;
    overflow: hidden;
    animation: photo 1.2s cubic-bezier(.5, .6, .6, 1);
}

@keyframes animation {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.awhite:hover {
    cursor: pointer;
    margin-left: 20px;
    color: rgb(229, 252, 30);
}


::-webkit-scrollbar {
    display: none;
}

h1 {
    position: fixed;
    line-height: 110%;
    letter-spacing: -2px;
    font-size: 18vmin;
}

.icons {
    height: 95vh;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 650px) {
    .photo {
        background-color: black;
        left: -46%;
    }

    .awhite {
        color: rgb(229, 252, 30);
    }
}