.container{
    background-color: black;
    display: flex;
    padding-bottom: 6vh;
    padding-top: 3vh;
    flex-direction: column;
}
.child{
    color: white;
}
.section{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.images{
    height: 350px;
    width: 650px;
}

/*  */
.galery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.galery_img{
    width: 100%;
}
.imgp{
    margin: 5px;
    height: 300px;
    width: 200px;
}